#toolbar-container {
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}
#toolbar-blocks {
    overflow: hidden;
	float: left;
	width: 100px;
	max-width: 100px;
	margin: 5px;
	display: table;
	height: auto;
	border:1px solid #0000ff;
}
#paper-container {
    overflow: hidden;
	float:left;
	max-width: 87%;
	margin: 5px;
	border:1px solid #0000ff;
	height: 500px;
	width: 900px;
	overflow-y: scroll;
	overflow-x: scroll;
}
.btn-aligned {
	width: 100%;
	height: 80 px;
	display: table-cell;
	margin-left: 0px;
	margin-right: 0px;
}
.btn-top {
	float: left;
}
.status {
	margin-left: 40px;
	float: left;
}